

     <h1 style="text-align: center ; font-size: 50px;margin: 10px;">Best Seller</h1>

<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
     fxLayoutGap="10px" fxLayoutGap.xs="5px">
     
    <div fxFlex="40">
        <mat-card>
            <mat-card-header style="justify-content: center;">
                <mat-card-title>
                    <h1>Pizza</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="../../assets/img/1.jpg" alt="..." />
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                     cumque doloremque tempora at delectus repudiandae, provident debitis, 
                    tempore maiores odit nobis laborum facere obcaecati eaque ab ad modi mollitia nostrum.</p>
            </mat-card-content>


        </mat-card>
    </div>
    <div fxFlex="40">
        <mat-card>
            <mat-card-header style="justify-content: center;">
                <mat-card-title>
                    <h1>Biriani</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="../../assets/img/2.jpg" alt="..." />
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde hic architecto veritatis
                     sint cum dolorem, provident qui 
                    animi mollitia voluptates aliquam nam reprehenderit velit modi odio fugiat nulla, maiores aliquid.</p>
            </mat-card-content>


        </mat-card>
    </div>
    <div fxFlex="40">
        <mat-card>
            <mat-card-header style="justify-content: center;">
                <mat-card-title>
                    <h1>Pasta</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="../../assets/img/3.jpg" alt="..." />
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                     Eum unde impedit reiciendis incidunt animi tempore est, 
                    molestiae nihil fugit nam beatae quasi quidem suscipit obcaecati ea exercitationem possimus. Soluta, laboriosam.</p>
            </mat-card-content>


        </mat-card>
    </div>
    <div fxFlex="40">
        <mat-card>
            <mat-card-header style="justify-content: center;">
                <mat-card-title >
                    <h1 >Molton Cake</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="../../assets/img/4.jpg" alt="..." />
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Itaque quibusdam possimus nam porro repudiandae eveniet omnis ipsa explicabo, 
                    maiores saepe ipsum rem, ex reiciendis minus illum atque vero est exercitationem.</p>
            </mat-card-content>


        </mat-card>
    </div>
</div>


















<!--
    <div class="container">
    <div class="box-timeline">
        <div class="ligne"></div>

<div fxLayout=" column ">
    <div class="rond r1">
        <img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                        alt="..." />

    </div>
    <div class="rond r2">
        <img class="rounded-circle " src="../../assets/img/2.jpg"
                        alt="..." />

    </div>
    <div class="rond r3">
        <img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                        alt="..." />
    </div>
    <div class="rond r4">
        <img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                        alt="..." />
    </div>

    <div class="box b1">
        <h2>Pizza</h2>
        <p class="text-muted">Pizza is an Italian dish consisting of a usually round, flattened base of
            leavened wheat-based dough topped with tomatoes, cheese, and often various other
            ingredients, which is then baked at a high temperature, traditionally in a wood-fired oven.
            A small pizza is sometimes called a pizzetta.</p>
    </div>
    <div class="box b2" fxLayoutAlign.gt-xs="start">
        <h2>Biriani</h2>
        <p class="text-muted">Biryani is a mixed rice dish. It is made with Indian spices, rice, and
            meat usually that of chicken, fish, and sometimes, in addition, eggs or vegetables such as
            potatoes in certain regional varieties.</p>


    </div>
    <div class="box b3">
        <h2>Pasta</h2>
        <p class="text-muted">Biryani is a mixed rice dish. It is made with Indian spices, rice, and
            meat usually that of chicken, fish, and sometimes, in addition, eggs or vegetables such as
            potatoes in certain regional varieties.</p>
    </div>
    <div class="box b4">
        <h2>Molton Cake</h2>
        <p class="text-muted">Molten chocolate cake is a popular dessert that combines the elements of a
            chocolate cake and a soufflé. Its name derives from the dessert's liquid chocolate center,
            and it is also known as chocolate moelleux, chocolate lava cake, or simply lava cake.</p>
    </div>

</div>
        
    </div>


</div>


<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pizza</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Pizza is an Italian dish consisting of a usually round, flattened base of
                            leavened wheat-based dough topped with tomatoes, cheese, and often various other
                            ingredients, which is then baked at a high temperature, traditionally in a wood-fired oven.
                            A small pizza is sometimes called a pizzetta.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Biryani</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Biryani is a mixed rice dish. It is made with Indian spices, rice, and
                            meat usually that of chicken, fish, and sometimes, in addition, eggs or vegetables such as
                            potatoes in certain regional varieties.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasta</h4>
                    </div>
                    <div class="timeline-body">
                       <p class="text-muted">Biryani is a mixed rice dish. It is made with Indian spices, rice, and
                            meat usually that of chicken, fish, and sometimes, in addition, eggs or vegetables such as
                            potatoes in certain regional varieties.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Molten chocolate cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Molten chocolate cake is a popular dessert that combines the elements of a
                            chocolate cake and a soufflé. Its name derives from the dessert's liquid chocolate center,
                            and it is also known as chocolate moelleux, chocolate lava cake, or simply lava cake.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Cafe!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
-->