.list-item-active{
    ::ng-deep{
        .mat-list-item-content{
            background: rgb(18, 18, 213);
            &:hover{
                background:inherit;
            }
        }
    }
    
}
.mat-list-item{
    margin-bottom: 20px;
    ::ng-deep{
        .mat-list-item-content{
            border-radius: 5px;
            margin: 0 8px;
        }
    }
}