.float-right{
    float: right;
}
.title-center{
    text-align: center;
    flex: 1 1 auto;
    
    
}
mat-toolbar{
    margin: -24px;

    margin-bottom: 10px;
    width: auto;

}
table{
    width: 100%;
}
.title1{
    margin-left: 43%;
    font-size: large;


}