<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Forgot Password?!</span>


    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="typograghy">
    <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid ">
                <span *ngIf="forgotPasswordForm.controls.email.errors?.required">This field is required.</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors?.pattern">This field is invalid.</span>

            </mat-error>

        </mat-form-field>

    </form>



</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="handleSubmit()" [disabled]="forgotPasswordForm.invalid">Submit</button>
    <button mat-raised-button color="primary"  mat-dialog-close>Close</button>

</mat-dialog-actions>

