
<app-header></app-header>



<div class="container" fxLayout="column" >
  
    <img src="assets\img\food1.jpg" class="banner">
    





</div>
<app-best-seller></app-best-seller>
<app-footer></app-footer>






<!--
<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
    </ul>
  </nav>
  <div class="bg-image"></div>
<app-best-seller></app-best-seller>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @BTech Days</h2>
</div>
-->